<h1>All Contacts</h1>


<ul>
  <% @contacts.each do |contact| %>
    <li>
    <%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%contact.note %>
	<a href="/contacts/<%= contact.id %>">Details</a>
	<a href="/contacts/<%= contact.id %>">Edit</a>
    </li>
  <% end %>
</ul>

<audio src="http://wavs.unclebubby.com/wav/MOVIES/T2/t2music_t2.wav" autoplay>
  Your browser does not support the <code>audio</code> element.
</audio>